.App__QuickMapbox {
  z-index: 1;
}

.App__tooltip {
  z-index: 2;
  pointer-events: none;
}

.App li {
  padding: 5px;
  border-radius: 5px;
}
.App li.active {
  background-color: var(--bs-dark);
}

.App li.active button {
  color: var(--bs-white);
}

.App li button {
  text-decoration: none;
  color: var(--bs-dark);
}

.font-size-inherit {
  font-size: inherit;
}

@media (max-width: 767px) {
  .App aside {
    display: none;
  }

  .App__tooltip {
    right: 0 !important;
  }

  .App__QuickMapbox {
    right: 0 !important;
  }
}